@font-face {
    font-family: x;
    src: url(./L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2);
}

@font-face {
    font-family: z;
    src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

@font-face {
    font-family: s;
    src: url(./63cffc20aa8997095067596f_Satoshi-Light.woff);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(244, 244, 244);
    font-size: clamp(14px, 1vw, 18px);
}

body {
    background-color: #121212;
}

header {
    width: 100%;
    padding-bottom: 1.2rem;

    .nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 4.5rem;
        padding-top: 2rem;

        .left {
            display: flex;
            align-items: center;

            padding-left: 1.5rem;

            a {
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
                font-weight: 100;
                font-family: z;
            }
        }

        .right {
            font-family: x;
            padding-right: 1rem;

            a:nth-child(1) {
                display: none;
            }

            a:nth-child(2) {
                display: none;
            }

            a:nth-child(3) {
                display: none;
            }

            a:nth-child(4) {
                display: none;
            }

            a:nth-child(5) {
                display: none;
            }

            a:nth-child(7) {
                display: none;
                background-color: #AD9D49;
                color: black;
            }

            a {
                text-decoration: none;
                font-size: 0.87;
                padding: 0.7rem 1rem;
                border-radius: 0.7rem;
                color: white;
                background-color: #292929;
            }

            a:nth-child(6) {
                padding: 1.1rem 1.7rem;
                font-size: 1.2rem;
                font-weight: 400;
            }

            a:nth-child(8) {
                border: none;
                padding: 0.8rem 1rem;
                font-size: 1.5rem;
            }
        }
    }
}



@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 2000px;
}

main {
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    section.view1 {
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #292929;
            border-radius: 0.7rem;
            padding: 1.5rem;
            @include flex-column(3rem);

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 100;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }

                button {
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }

        }
    }

    section.view2 {
        @include flex-column(2.5rem);
        width: 100%;
        padding: 1rem;
        font-family: z;

        .top,
        .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element {
                @include flex-column(0.2rem);
                text-align: center;

                small {
                    opacity: 0.6;
                    font-size: 1rem;
                }

                h2 {
                    font-size: 2.5rem;
                    font-weight: 300;
                }
            }
        }
    }

    section.view3 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #292929;
            border-radius: 0.7rem;
            padding: 1.5rem;
            @include flex-column(3rem);

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 100;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }

                button {
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }

        }

        .bottom>p {
            text-transform: uppercase;
        }
    }

    section.view4 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #292929;
            border-radius: 0.7rem;
            padding: 1.5rem;
            @include flex-column(3rem);

            .text {
                @include flex-column(0.7rem);

                h1 {
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-weight: 100;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }

                button {
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }

        }

        .bottom>p {
            text-transform: uppercase;
        }
    }

    section.view5 {
        width: 100%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            padding: 0rem 1.5rem;

            h2 {
                font-size: 2.5rem;
                font-family: z;
                font-weight: 100;
            }
        }

        .right {
            a {
                color: white;
                text-decoration: none;
                display: none;
            }


        }
    }

    section.view6 {
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem;

        .card1 {
            width: 100%;
            background-image: url(./63d2ccbd7d003dfb6a1bdecb_team-01.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 1.2rem;

            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(187, 187, 187, 0.375);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;

                p {
                    text-transform: uppercase;
                }
            }
        }

        .card2 {
            width: 100%;
            background-image: url(./63d2ccbd2e12fa747e999689_team-02.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 1.2rem;

            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(187, 187, 187, 0.375);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;

                p {
                    text-transform: uppercase;
                }
            }
        }

        .card3 {
            width: 100%;
            background-image: url(./63d2ccbdc1f945f817bf4fd7_team-03.webp);
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 1.2rem;

            @include flex-column(0rem);
            justify-content: space-between;
            padding: 1rem;

            .icon,
            .bottom {
                background-color: rgba(187, 187, 187, 0.375);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.7rem;
                padding: 0.5rem;
            }

            .top {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
            }

            .icon {
                width: fit-content;
                border-radius: 50%;
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;

                p {
                    text-transform: uppercase;
                }
            }
        }
    }

    section.view7 {
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom {
            background-color: #292929;
            border-radius: 0.7rem;
            padding: 1.5rem;
            @include flex-column(3rem);

            .text {
                @include flex-column(0.7rem);
                padding-bottom: 1rem;

                h2 {
                    font-family: z;
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p {
                    font-family: x;
                    font-weight: 400;
                    font-size: 1.1rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }
            }

            .btn {
                display: flex;
                gap: 0.6rem;
                align-items: center;
                font-family: x;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 1.1rem;
                }

                a:nth-child(1) {
                    border: 1px solid rgba(255, 255, 255, 0.531);
                    border-radius: 50%;
                    font-size: 1.3rem;
                    color: rgba(255, 255, 255, 0.536);
                    padding: 0.4rem 0.6rem;
                }
            }

        }


    }

    section.view8 {
        font-family: z;
        background-color: #ffe97a;
        padding: 2rem;
        color: black;
        display: flex;
        margin: 1rem;
        flex-direction: column;
        border-radius: 0.8rem;
        align-items: center;

        .text {
            padding-bottom: 2.5rem;

            p {
                font-weight: 500;
                padding-bottom: 0.6rem;
            }

            h1 {
                font-weight: 100;
                font-size: 3rem;
                line-height: 100%;
            }
        }

        .btn {
            a {
                font-family: x;
                text-decoration: none;
                color: white;
                border: 1px solid rgb(14, 14, 14);
                background-color: rgb(14, 14, 14);
                border-radius: 0.5rem;
                padding: 1.25rem 6.2rem;
                border: none;
                font-size: 1rem;
            }
        }
    }
}

footer {
    section.view9 {
        width: 93%;
        @include flex-column(1rem);
        background-color: #292929;
        padding: 1rem;
        border-radius: 1rem;
        margin: 1rem;

        .top {
            padding: 1rem;
            padding-bottom: 3.5rem;
            font-family: z;

            h2 {
                font-weight: 100;
                font-size: 1.8rem;
                color: rgb(181, 181, 181);
            }
        }

        .botom {
            padding: 1rem;
            display: flex;
            gap: 0.6rem;

            a {
                text-decoration: none;
                color: rgb(181, 181, 181);
                font-size: 1.3rem;
                border: 1px solid rgb(181, 181, 181);
                border-radius: 50%;
                padding: 0.4rem 0.6rem;
            }
        }
    }

    section.view10 {
        display: flex;
        flex-direction: column;
        width: 92%;
        gap: 1rem;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        background-color: #292929;

        h2 {
            font-family: z;
            padding: 1rem 0rem;
        }

        p {
            padding: 1rem 0rem;
            font-family: x;
            color: rgb(180, 180, 180);
        }

        .pages {
            padding: 1rem;

            .btn {
                padding-top: 1rem;

                a {
                    font-family: x;
                    text-decoration: none;
                    color: black;
                    background-color: #ffe97a;
                    padding: 1rem 1.5rem;
                    border-radius: 0.5rem;
                }
            }
        }

        .cms {
            padding: 1rem;
        }

        .utility {
            padding: 1rem;
        }
    }

    section.view11 {
        display: flex;
        flex-direction: column;
        width: 92%;
        background-color: #292929;
        margin: 1rem;
        border-radius: 1rem;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        font-family: x;

        .top {
            padding-top: 0.5rem;
            text-align: center;
            color: rgb(147, 147, 147);
            padding-bottom: 2rem;

            span {
                color: white;
            }
        }

        .bottom {
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            padding-bottom: 1.5rem;

            a {
                text-decoration: none;
                color: rgb(141, 141, 141);
                border: 1px solid rgb(141, 141, 141);
                border-radius: 50%;
                font-size: 1.3rem;
                padding: 0.5rem 0.8rem;
            }
        }
    }
}

@media (min-width:900px) {
    header {
        .nav {
            .left {
                padding-left: 4.5rem;
                padding-top: 1rem;
            }

            .right {
                padding-right: 4rem;

                a {
                    border-radius: 0.5rem;
                }

                a:nth-child(1) {
                    display: inline-block;
                    padding: 1.1rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                    border: none;
                }

                a:nth-child(2) {
                    display: inline-block;
                    padding: 1.1rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                    border: none;
                }

                a:nth-child(3) {
                    display: inline-block;
                    padding: 1.1rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                    border: none;
                }

                a:nth-child(4) {
                    display: inline-block;
                    padding: 1.1rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                    border: none;
                }

                a:nth-child(5) {
                    display: inline-block;
                    padding: 1.1rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                    border: none;
                }

                a:nth-child(6) {
                    border: none;
                }

                a:nth-child(7) {
                    display: inline-block;
                    padding: 1.1rem;
                    font-size: 1.2rem;
                    font-weight: 400;
                    border: none;
                }

                a:nth-child(8) {
                    display: none;
                }
            }
        }
    }

    main {

        section.view1 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {

                    gap: 1.5rem;

                    h1 {
                        font-size: 3.5rem;
                    }

                    p {
                        width: 60%;
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view2 {
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view3 {
            flex-direction: row-reverse;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .paragraphs {
                    display: flex;
                    gap: 2rem;

                    p {
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view4 {
            flex-direction: row;
            padding: 1rem 4rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .paragraphs {
                    display: flex;
                    gap: 2rem;

                    p {
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view5 {
            padding: 2rem;

            .left {
                padding-left: 3rem;

                h2 {
                    font-size: 3rem;
                }
            }

            .right {
                padding: 0rem 4rem;

                a {
                    display: inline-block;
                    font-size: 1.2rem;
                    font-family: x;

                }

                a:nth-child(1) {
                    border: 1px solid rgba(255, 255, 255, 0.531);
                    border-radius: 50%;
                    color: rgba(255, 255, 255, 0.536);
                    padding: 0.5rem 0.7rem;
                }

                a:nth-child(2) {
                    padding-left: 0.4rem;
                }

            }
        }

        section.view6 {
            flex-direction: row;
            padding: 1rem 4rem;
        }

        section.view7 {
            flex-direction: row;
            padding: 1rem 3.9rem;

            .top,
            .bottom {
                width: 50%;
            }

            .top {
                img {
                    height: 30rem;
                }
            }

            .bottom {
                padding: 3rem;
                gap: 11rem;

                .text {
                    h2 {
                        font-size: 2.78rem;
                    }
                }
            }
        }

        section.view8 {
            margin: 1rem 3.5rem;
            flex-direction: row;
            justify-content: space-between;

            .text {
                width: 70%;
                padding-top: 2rem;
                padding-left: 2rem;

                p {
                    padding-left: 0.5rem;
                    font-size: 1.3rem;
                    font-family: x;
                    font-weight: 300;
                }

                h1 {
                    font-size: 5rem;
                }
            }

            .btn {
                padding-top: 5.5rem;
                padding-right: 2rem;
                width: auto;

                a {
                    padding: 1.2rem 2rem;
                }
            }
        }
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "sidebar links"
            "sidebar  bottom";
        gap: 1rem;
        padding: 1rem 4rem;

        section.view9 {
            grid-area: sidebar;
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .top {
                padding: 1.5rem;
                padding-bottom: 0;
            }

            .botom {
                padding: 1.5rem;
            }
        }

        section.view10 {
            grid-area: links;
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .pages,
            .cms,
            .utility {
                flex: 1;
            }

            .pages .btn {
                margin-top: 3rem;
            }
        }

        section.view11 {
            grid-area: bottom;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;

            .top {
                padding: 0;
                text-align: left;
            }

            .bottom {
                padding: 0;
            }
        }
    }
}